/* Estilo del contenedor principal */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Estilo personalizado para el Navbar */
.navbar-custom {
  background-color: #141111c9 !important;
}
.navbar-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  margin-left: auto;
  margin-right: 20px;
}
.navbar-link:hover {
  color: #07c5ff;
}

/* Estilo para el contenedor de la aplicación */
.container {
  margin-top: 50px;
}

/* Estilo para el título de la aplicación */
h2 {
  color: #000000;
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 20px;
}

/* Estilo para el input de agregar una nueva tarea */
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/* Estilos de los botones */
button {
  margin-top: 10px;
  width: 100%;
  padding: 12px;
  font-size: 1rem;
}

/* Botón de crear tarea */
.btn-create {
  background-color: #02be86;
  border: none;
  color: white;
  transition: all 0.3s ease; /* Suaviza la transición */
}
.btn-create:hover {
  color: #ffffff;
  background-color: #028c61;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Botón de eliminar tarea */
.btn-delete {
  background-color: #dc3545;
  border: none;
  color: white;
  transition: all 0.3s ease; /* Suaviza la transición */
}
.btn-delete:hover {
  color: #fff;
  background-color: #8b1723; /* Cambio de color al pasar el mouse */
  transform: scale(1.05); /* Efecto de aumento */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

/* Botón de actualizar tarea */
.btn-update {
  background-color: #ffc107;
  border: none;
  color: white;
  transition: all 0.3s ease; /* Suaviza la transición */
}

.btn-update:hover {
  color: #ffffff; /* Cambia el color del texto */
  background-color: #856403; /* Cambio de color al pasar el mouse */
  transform: scale(1.05); /* Efecto de aumento */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

/* Estilo de la tabla */
.custom-table {
  margin-top: 30px;
  border-radius: 8px;
  width: 100%;
}

/* Estilo de las celdas de la tabla */
.custom-table th, .custom-table td {
  padding: 12px;
  text-align: center;
}

/* Estilo para los encabezados de la tabla */
.custom-table th {
  background-color: #343a40;
  color: white;
}

/* Estilo para las filas alternadas */
.custom-table tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

/* Estilo para el input de actualización */
.update-input {
  width: 80%;
  padding: 8px;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/* Estilo para el Footer */
.footer {
  background-color: #343a40; 
  color: white;  
  padding: 20px 0; 
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: auto;
}

.footer p {
  margin: 0;
  font-size: 14px;
}

.footer a {
  color: #ffc107;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
